.body {
  background-color: black;
  width: 90.00%; /* 6/7 of the screen width */
  height: 100vh; /* Full height of the screen */
  margin-left: auto; /* right align */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px; /* reasonable amount of whitespace */
  color: white; /* so the text is visible on the black background */
  padding: 20px; /* some padding around the grid */
  transition: 0.75s; /* 0.5 second transition effect to slide in the sidebar */
  justify-content: center;
}

.body div {
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(45deg, #bdc3c7, #2c3e50); /* metallic gradient */
  border: 1px solid #f0f0f0; /* shiny edge */
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), inset 0 0 5px rgba(255,255,255,0.5); /* inner glow */
  color: #000000; /* neon blue text */
  font-weight: bold
}

.body.maximized {
  width: 95%;
}